ul{
    list-style-type: none;
}

li{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    margin-top: 20px;
    border-radius: 20px;
}


.delete{
    margin: 25px 25px;
    background-color: aquamarine;
}